@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
.navbar-fixed {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
}
.subtitle{
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
}
.subcontext{
  font-family: 'Montserrat', sans-serif;
}
.header{
  font-family: 'Montserrat', sans-serif;
	font-weight: 900;
	font-size: 40px;
	line-height: 1.7;
	color: #c4c3ca;
	overflow-x: hidden;
	-webkit-transition: all 300ms linear;
  text-transform: uppercase;
  letter-spacing: 2px;
	transition: all 300ms linear;
}
.blockblack {
  border-color: #ffffff;
}
.parallax-container {
  height: 100vh;
}
    
#outer {
  width: 1065px;
  height: 200px;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
}
.video {
position: relative;
left: 0;
top: 0;
opacity: 1;
}


.top-notch-image{
    width: 100%;
    max-width: 60px;
    height: auto;
}
main {
  flex: 1 0 auto;
}
i.icon-black {
  color: black;
}
.wave {
  opacity: 0.4;
  position: absolute;
  top: 3%;
  left: 50%;
  background: #919191;
  width: 500px;
  height: 500px;
  margin-left: -250px;
  margin-top: -250px;
  transform-origin: 50% 48%;
  border-radius: 43%;
  -webkit-animation: drift 3000ms infinite linear;
          animation: drift 3000ms infinite linear;
}

.wave.-three {
  -webkit-animation: drift 5000ms infinite linear;
          animation: drift 5000ms infinite linear;
}

.wave.-two {
  -webkit-animation: drift 7000ms infinite linear;
          animation: drift 7000ms infinite linear;
  opacity: 0.1;
  background: black;
}

.parallax-container:after {
  content: "";
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 55%;
  background: linear-gradient(to bottom, #E5E4E8, rgba(221, 238, 255, 0) 80%, rgba(255, 255, 255, 0.5));
  z-index: 11;
  transform: translate3d(0, 0, 0);
}
.text{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
}
.title {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1;
  line-height: 300px;
  text-align: center;
  transform: translate3d(0, 0, 0);
  color: black;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.4em;
  font-size: 24px;
  font-weight: 700;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  text-indent: 0.3em;
}

.reveal{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active{
  transform: translateY(0);
  opacity: 1;
}

@-webkit-keyframes drift {
  from {
    transform: rotate(0deg);
  }
  from {
    transform: rotate(360deg);
  }
}

@keyframes drift {
  from {
    transform: rotate(0deg);
  }
  from {
    transform: rotate(360deg);
  }
}
.prince{
  overflow: hidden;
}
.prince * {
  position: absolute;
  top: 60%;
  transform-style: preserve-3d;
}


.switcher {
  transform: rotateX(35.26deg);
  animation: switch 3s steps(1) infinite;
}

@keyframes switch {
  50% {
    transform: rotateX(35.26deg) rotateY(-90deg);
  }
}
.assembly {
  transform: rotateY(45deg);
  animation: correct 1.5s linear infinite;
}

@keyframes correct {
  to {
    transform: rotateY(45deg) translate(-10em);
  }
}
.piece {
  animation: inherit;
  animation-timing-function: cubic-bezier(0.17, 0.67, 0.53, 2);
}
.piece:nth-child(1) {
  margin-top: -4em;
  animation-name: slide-1;
}
@keyframes slide-1 {
  0%, 0% {
    transform: none;
  }
  40%, 100% {
    transform: translate(10em);
  }
}
.piece:nth-child(2) {
  margin-top: -2em;
  animation-name: slide-2;
}
@keyframes slide-2 {
  0%, 15% {
    transform: none;
  }
  55%, 100% {
    transform: translate(10em);
  }
}
.piece:nth-child(3) {
  margin-top: 0em;
  animation-name: slide-3;
}
@keyframes slide-3 {
  0%, 30% {
    transform: none;
  }
  70%, 100% {
    transform: translate(10em);
  }
}
.piece:nth-child(4) {
  margin-top: 2em;
  animation-name: slide-4;
}
@keyframes slide-4 {
  0%, 45% {
    transform: none;
  }
  85%, 100% {
    transform: translate(10em);
  }
}
.piece:nth-child(5) {
  margin-top: 4em;
  animation-name: slide-5;
}
@keyframes slide-5 {
  0%, 60% {
    transform: none;
  }
  100%, 100% {
    transform: translate(10em);
  }
}
.face {
  margin: -1em -5em;
  width: 10em;
  height: 2em;
  box-shadow: inset 0 0 0 2px #fff;
}
.face:nth-child(n + 5) {
  margin-top: -5em;
  height: 10em;
}
.face:nth-child(1) {
  transform: rotateY(0deg) translateZ(5em);
}
.face:nth-child(2) {
  transform: rotateY(90deg) translateZ(5em);
}
.face:nth-child(3) {
  transform: rotateY(180deg) translateZ(5em);
}
.face:nth-child(4) {
  transform: rotateY(270deg) translateZ(5em);
}
.face:nth-child(5) {
  transform: rotateX(90deg) translateZ(1em);
}
.face:nth-child(6) {
  transform: rotateX(-90deg) translateZ(1em);
}
p span.typed-text {
  font-weight: normal;
  color: white;

}
p span.cursor {
  display: inline-block;
  background-color: #ccc;
  margin-left: 0.1rem;
  width: 3px;
  animation: blink 1s infinite;
}
p span.cursor.typing {
  animation: none;
}
@keyframes blink {
  0%  { background-color: #ccc; }
  49% { background-color: #ccc; }
  50% { background-color: transparent; }
  99% { background-color: transparent; }
  100%  { background-color: #ccc; }
}
.input-field label {
  color: #fff;
}
/* label focus color */
.input-field input[type=text]:focus + label {
  color: #fff;
}
input, select, textarea{
  color: #fff;
}
/* label underline focus color */
.input-field input[type=text]:focus {
  border-bottom: 1px solid #fff;
  box-shadow: 0 1px 0 0 #fff;
}
/* valid color */
.input-field input[type=text].valid {
  border-bottom: 1px solid #fff;
  box-shadow: 0 1px 0 0 #fff;
}
/* invalid color */
.input-field input[type=text].invalid {
  border-bottom: 1px solid #fff;
  box-shadow: 0 1px 0 0 #fff;
}
/* icon prefix focus color */
.input-field .prefix.active {
  color: #fff;
}


:root {
  --marquee-width: 100%;
  --marquee-height: 20vh;
  /* --marquee-elements: 12; */ /* defined with JavaScript */
  --marquee-elements-displayed: 5;
  --marquee-element-width: calc(var(--marquee-width) / var(--marquee-elements-displayed));
  --marquee-animation-duration: calc(var(--marquee-elements) * 3s);
}

.marquee {
  width: var(--marquee-width);
  height: var(--marquee-height);
  background-color: transparent;
  color: #eee;
  overflow: hidden;
  position: relative;
}
.marquee:before, .marquee:after {
  position: absolute;
  top: 0;
  width: 5rem;
  height: 100%;
  content: "";
  z-index: 1;
}

.marquee-content {
  list-style: none;
  height: 100%;
  display: flex;
  animation: scrolling var(--marquee-animation-duration) linear infinite;
}
/* .marquee-content:hover {
  animation-play-state: paused;
} */
@keyframes scrolling {
  0% { transform: translateX(0); }
  100% { transform: translateX(calc(-1 * var(--marquee-element-width) * var(--marquee-elements))); }
}
.marquee-content li {
  display: flex;
  justify-content: center;
  align-items: center;
  /* text-align: center; */
  flex-shrink: 0;
  width: var(--marquee-element-width);
  max-height: 100%;
  font-size: calc(var(--marquee-height)*3/4); /* 5rem; */
  white-space: nowrap;
}

.marquee-content li img {
  width: 100%;
  /* height: 100%; */
  border: 2px solid #eee;
}

@media (max-width: 600px) {
  html { font-size: 12px; }
  :root {
    --marquee-width: 100vw;
    --marquee-height: 16vh;
    --marquee-elements-displayed: 3;
  }
  .marquee:before, .marquee:after { width: 5rem; }
}